body {
  margin: 0px;
  background-color: rgb(56,220, 250);
  overflow: hidden;
}
.Block{
 
width: 600px; height: 300px;
border-radius: 10px;
background-color: gray;
border: 2px solid black;
text-align: center;
margin-top: 0px;
}
.DivInput{
  text-align: center;
  margin-top: 80px;
}
.inputek{
  text-align: center;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 0.6em;
}
.mainbutton{
    border: none;
  justify-content: center;
  border-radius: 40%;
  padding: 0.7em;
}
.lokacia{
 text-align: center;
}
.App{
  display: flex;
  justify-content: center;
}
.stred{
  text-align: center;
}
.sky_d{
 color:rgb(51, 199, 191);
}
.sky{
  color:palegreen;
  margin-left: 0px;
}
.current_div{
margin-left: 0px;
  }
.crnt_time{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
.lokacia{
  
}
.headher{
  text-align: center;
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

